.intro-header {
    height: unset !important;
  }
  .intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg")no-repeat center center;
    background-size: cover;
    height: 100%;
    margin: 0;  }


  
  




